*{
    margin: 0px; padding: 0px;

}
body{
    background-color: grey;



}
.header{
    width: 600px;
    height: 200px;


}
img{
    padding-top: 10px;
    padding-left: 410px;
    width: 600px;
    height:  338px;

}
div a {
    color: black;
  }
  footer a {
    text-align: center;
    padding-left: 420px;
  }
  a {
    padding-top: 24px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  nav {
    padding-left: 115px;
  }
  ul {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    list-style: none;
  }
  ul li {
    width: 200px;
    height: 40px;
    background-color: black;
    opacity: 0.8;
    color: gray;
    text-align: center;
    line-height: 40px;
  }
  ul li:hover {
    background-color: red;
  }
  ul li ul li {
    display: none;
  }
  ul li:hover ul li {
    display: block;
  }
  footer {
    height: 50px;
    width: 1920px;
    background-color: black;
    display: block;
    position: fixed;
    bottom: 0;
    opacity: 0.8;
  }
  footer:hover {
    background-color: red;
  }
  .prev{
      color: red;
      opacity: .8;
    padding-left: 700px;


  }
  .next{
    color: red;
    opacity: .8;
 
  }